html {
  font-size: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

.grid {
  display: grid;
  background-color: gray;
  border: 1px solid black;
  width: 1000px;
  height: 1000px;
}

/* .grid > div:nth-child(odd) {
  background-color: lightgray;
} */

.square {
  background-color: lightgray;
  border: 1px solid gray;
}

.colored-in {
  background-color: gray;
  border: 1px solid gray;
}